body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    width: 300px;
}